@charset "UTF-8";
/* CSS Document */
/* Reset Style */
*{ margin: 0; padding: 0; box-sizing: border-box}

body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px; background-color:#283618; color: antiquewhite}

/* Header Banner */
header a img{width: 100%; height: auto;display: block}

/* Navi Bar*/
nav {background-color:#283618; padding: 10px 20px; margin: 10px }
.navbar{list-style: none; display: flex; justify-content: center;column-gap: 60px}
.navbar li{display: inline-block}
.navbar a{ text-decoration: none ; color:beige;font-weight: bold;
	transition: color 0.3s ease, background-color 0.3s ease; padding: 10px 20px; align-content:center}
.navbar a:hover{color:#283618; background-color: antiquewhite; border-radius: 5px}

/* Product List */
.product-list{ display: flex;flex-wrap: wrap; justify-content: space-between; 
	gap: 20px; padding: 20px; max-width: 1200px;margin: 20px auto;}
.product { flex: 1 1 calc(25% - 20px); max-width: calc(25% - 20px);text-align: center;border: 2px solid #BC6C25;border-radius: 10px;
    padding: 15px; background-color: #283618;text-decoration: none; color: antiquewhite ;
	transition: transform 0.3s ease, box-shadow 0.3s ease;}
.product img { width: 100%; height: 150px; object-fit: cover; border-radius: 8px;}
.product h3 { margin: 10px 0; font-size: 1rem; color: antiquewhite;}
.product p { margin: 5px 0;color:antiquewhite;}
.product:hover {transform: scale(1.05);box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);}
/* Footer */
footer {
    text-align: center;padding: 10px;box-sizing: border-box; border: 3px solid #BC6C25;background-color: #283618; color:antiquewhite ;margin-top: 20px;border-radius: 10px}